@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: aliceblue;

}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    height: 44px;
    padding: 0 10px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 65vh;
    background-color: rgb(169, 118, 118);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 3px;
    background-image: url('./covers/covers/8.jpg');

}
.button{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItamContainer{
    margin-top: 30px;
}
.icons i{
    padding: 0;
    margin-top: 12px;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}